

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family:"Locust";
  src:url("/fonts/Locust.woff2");
  font-style:normal;
  font-weight:300;
}


html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
